body {
    user-select: none;
    font-family: raleway;
    margin: 0;
}

@font-face {
    font-family: cormorant-garamond;
    src: url(../fonts/CormorantGaramond-Light.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway-Light.ttf);
}

h1 {
    font-size: 72px;
}

h2 {
    height: min-content;
    margin: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

h3 {
    font-size: 42px;
    margin-top: 0;
}

h4 {
    margin: 0;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-size: 16px;
}

h5 {
    font-size: 18px;
}

p {
    line-height: 1.7em;
}

ul {
    padding: 0;
}

li {
    font-size: 20px;
    padding-bottom: 1vh;
}

textarea, input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: calc(100% - 30px);
    border-radius: 0;
    border: 1px solid #324e6e;
    resize: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px;
}

textarea {
    height: 80px;
}

form {
    width: 50%;
}

#image {
    height: 233.33px;
    width: 480px;
}

a:hover {
    cursor: pointer;
}

#headerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: #324e6e;
    color: #ffffff;
    z-index: 1;
}

#headerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

#title {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

#headerBottomContainer {
    display: grid;
    grid-template-columns: 80px 24px auto 24px 80px;
    width: 100%;
    align-items: center;
    background-color: #f7f7f7;
    margin-top: auto;
}

#menuContainer {
    display: flex;
    grid-column: 3 / 4;
    margin-top: 2vh;
    margin-bottom: 2vh; 
    justify-content: center;
}

#instagramLink {
    grid-column: 4 / 5;
    height: 24px;
    width: 24px;
}

.headerButton {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #324e6e;
    margin: 0;
}

.headerButton:hover {
    color: #aaaaaa;
}

#page {
    position: absolute;
    left: 0;
    top: 25vh;
    width: 100%;
    min-height: 85vh;
    display: grid;
    grid-template-columns: 50% 0 50%;
    column-gap: 0;
    background-color: #ffffff;
}

#flavoursContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pricingGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.roundPhoto {
    object-fit: cover;
    border-radius: 50%;
    width: 340px;
    height: 340px;
}

.subHeader {
    background-color: #f7f7f7;
}

.containerBox {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#formSubmit {
    display: inline-block;
    color: #ffffff;
    border-radius: 0;
    background-color: #324e6e;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

#formSubmit>div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 2;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 3 / 4;
}

.both {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: 1 / 4;
}

.wrap {
    flex-wrap: wrap;
}

.fullWidth {
    width: 100%;
}

.fancyText {
    font-family: cormorant-garamond;
}

.coloured {
    color: #324e6e;
}

.justifyLeft {
    justify-content: flex-start;
    text-align: left;
}

.orderButton {
    display: inline-block;
    color: #ffffff;
    border-radius: 0;
    background-color: #324e6e;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 50px;
}

.orderButton>div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}